<header id="page-topbar" (window:scroll)="windowScroll()">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box horizontal-logo">
                    <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="assets/images/Sheffield%20Haworth__Linkedin%20Stack.svg" alt="" height="" />
                        </span>
                        <span class="logo-lg">
                            <img src="assets/images/Sheffield%20Haworth__Linkedin%20Stack.svg" alt="" height="" />
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="assets/images/Sheffield%20Haworth__Linkedin%20Stack.svg" alt="" height="" />
                        </span>
                        <span class="logo-lg">
                            <img src="assets/images/Sheffield%20Haworth__Linkedin%20Stack.svg" alt="" height="" />
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                    <span class="hamburger-icon" (click)="toggleMobileMenu($event)">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
<p style="position: relative;
    top: 1.5rem;">Subscription Manager</p>
            </div>

        </div>
    </div>
</header>


