<div class="left-panel">
    <div class="sg-subs-top">
        <h1 class="text-primary-ls">Welcome to My Manager Partner</h1>
        <p class="text-secondary-ls">On this page, you can view a list of all available subscriptions within your organization globally. Please use the quick link buttons on the right side of the page to request access or to suggest a new subscription.                        </p>
        <p class="text-secondary-italic">Due to limited availability, some subscriptions may require prior approval *</p>
        <p class="text-secondary-bold">Available Subscriptions</p>
    </div>
    <div class="sg-subs-bot mt-5">
        <div class="row">
            <div class="col-md-2" *ngFor="let item of availSubs">
                <div class="card subs-card">
                    <div class="card-img"></div>
                    <div class="card-body">
                        <h6 class="card-title">{{item.title}}</h6>
                        <p class="card-subtitle">{{item.subtitle}}</p>
                    </div>
                </div>                                  
            </div>
        </div>
    </div>
</div>
<div class="card right-panel position-fixed overflow-auto">
    <div class="card-header">Manage Subscriptions</div>
    <div class="card-body d-flex flex-column">
        <div class="subs-actions">
            <a href="#" class="btn">
                <img src="../../../assets/images/svg/description.svg" />
                Request Subscription
            </a>
            <a href="#" class="btn">
                <img src="../../../assets/images/svg/request-quote.svg" />
                Suggest New Subscription
            </a>
            <a href="#" class="btn">
                <img src="../../../assets/images/svg/cancel-line.svg" />
                Cancel Subscription
            </a>
        </div>
        <div class="sub-admin mt-auto">
            <p>Administration</p>
            <a href="#" class="btn btn-dark d-block">Manage Subscriptions</a>
        </div>
    </div>
    <div class="user-widget d-flex justify-content-between">
        <div class="user-menu d-flex align-items-center">
            <img class="me-3" src="../../../assets/images/svg/user-avatar-filled.svg" />
            <div class="user-content ms-1">
                <h6 class="mb-0">Jone Doe</h6>
                <p class="mb-0">Global Market</p>
            </div>
        </div>
        <button class="bg-transparent border-0" type="button">
            <img src="../../../assets/images/svg/logout.svg" />
        </button>
    </div>
</div>

