.page-content{
    background-color: #f8f8f8;
    padding-top: 0 !important;
}
.subs-top{
    top: 71px;
    background-color: #f8f8f8;
    z-index: 88;
}
.subs-left-panel{
    width: calc(100% - 404px);
}
.welcome-info {
    padding: calc(45px + 1.5rem) 20px 0;
    background-color: #f8f8f8;
    margin: 0 -20px;

    .text-secondary-bold{
        margin-top: 1.875rem;
    }
}
.subs-card{
    border-radius: 0.25rem;
    padding: 0.5625rem;
    min-height: 239px;
    box-shadow: 0 3px 12px rgb(0 0 0 / 9%);

    .card-img{
        height: 135px;
        border-radius: 2px;
        border: 0.5px solid #AAAAAA;
    }

    .card-body{
        padding: 0.75rem 0.8125rem;
    }

    .card-title{
        color: #1A1A1A;
    }
    .card-text{
        font-size: 0.75rem;
        color: #8D8D8D;
    }
}

.subs-right-panel {
    top: 95px;
    max-width: 374px;
    width: 100%;
    right: 5.474%;
    bottom: 76px;
    box-shadow: 0 3px 12px rgb(0 0 0 / 9%);

    .card-body{
        padding: 2.1875rem 2.4375rem 2.1875rem 2.6875rem;
    }   
}

.subs-actions{
    .btn {
        color: #0F0F0F;
        margin-bottom: 1.25rem;
        border-color: #0F0F0F;

        @media (min-width: 1400px) {
            font-size: 1rem;
            padding-top: 0.875rem;
            padding-bottom: 0.875rem;
            line-height: 1.7;
        }

        img {
            margin-right: 1rem;
        }
    }
}

.sub-admin{
    &-text{
        font-size: 0.875rem;
        color: #979797;
        text-transform: uppercase;
    }
    &-btn{
        background-color: #0F0F0F;
        color: #fff;

        @media (min-width: 1400px) {
            font-size: 1rem;
            line-height: 1.7;
            padding-top: 0.875rem;
            padding-bottom: 0.875rem;
        }
    }
}

.user-widget{
    border-top: 1px solid #E8E8E8;
    padding: 2.1875rem 2.4375rem 2.1875rem 2.6875rem;

}
.user-menu{
    h6{
        color: #232323;
    }

    p {
        color: #9B9B9B;
    }
    
}