.sidebar {
  top: 50px;
  left: 0px;
  position: sticky;
}
.sg-subs-top{width: 100%;
height: 200px;
background: #F8F8F8;
display: block;}
.sticky-top {
  position: sticky;
  top: 4.4rem !important;
  z-index: 1020;
}
